<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.HotelMapper">
    <insert id="insertHotel" parameterType="com.example.hotel.po.Hotel"
    useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(address,bizRegion,hotelDescription,hotelStar,hotelName,phoneNum,rate,manager_id,commentNumber,totalCommentScore)
        values (#{address},#{bizRegion},#{description},#{hotelStar},#{hotelName},#{phoneNum},#{rate},#{managerId},#{commentNumber},#{totalCommentScore})
    </insert>

    <select id="selectAllHotel" resultMap="Hotel">
        select * from Hotel
    </select>
    <select id="selectById" resultMap="Hotel">
        select * from Hotel where id=#{id}
    </select>
    <select id="getAllRoomList" resultMap="room">
        select * from Room
    </select>

    <update id="updateHotel">
        update Hotel set
          hotelName=#{hotelName},
          address=#{address},
          bizRegion=#{bizRegion},
          hotelDescription=#{description},
          hotelStar=#{hotelStar},
          phoneNum=#{phoneNum},
          rate=#{rate},
          manager_id=#{managerId},
          commentNumber=#{commentNumber},
          totalCommentScore=#{totalCommentScore}
        where id = #{id}
    </update>
    <resultMap id="Hotel" type="com.example.hotel.vo.HotelVO">
        <id column="id" property="id"/>
        <result column="address" property="address"/>
        <result column="bizRegion" property="bizRegion"/>
        <result column="hotelDescription" property="description"/>
        <result column="hotelStar" property="hotelStar"/>
        <result column="hotelName" property="name"/>
        <result column="phoneNum" property="phoneNum"/>
        <result column="rate" property="rate"/>
        <result column="manager_id" property="managerId"/>
        <result column="commentNumber" property="commentNumber"/>
        <result column="totalCommentScore" property="totalCommentScore"/>

    </resultMap>

    <resultMap id="room" type="com.example.hotel.po.HotelRoom">
        <id column="id" property="id"></id>
        <result column="roomType" property="roomType"></result>
        <result column="price" property="price"></result>
        <result column="curNum" property="curNum"></result>
        <result column="total" property="total"></result>
        <result column="hotel_id" property="hotelId"></result>
    </resultMap>


</mapper>